body{
	margin: 0px;
	background-color: skyblue;
}

.top-nav{
	padding: 25px 0;
}

.logo-img{
	max-height: 80px;
}

.bg-light {
    background-color: #3ca29d!important;
}
.btn-outline-success{
	background-color: #9b2e1c;
}
.reg-form{
	margin: 30px 0px;
}